html { 
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.hdqwalls.com%2Fdownload%2Fblur-blue-uu-2880x1800.jpg&f=1&nofb=1&ipt=459b9ad8947e7cb915902b7399ab4608668cf330bd8996a91e5852a874fd39a0&ipo=images") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
          body{
            font-family: 'Karla', sans-serif;
            font-weight:   400;
              background-size: 100%;
              background-repeat: no-repeat;
          }

          .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            background-color: rgba(250, 250, 250, 0.4);
            backdrop-filter: blur(4px);
            height: 94.1vh;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          }

          .end {
            position: fixed;
            top: 0;
            right: 0;
            background-color: rgba(250, 250, 250);
            padding: 10px;
            border-radius: 0px 0px 0px 5px;
            transition: 0.4s;
          }
          button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          button:hover {
            background-color: #0056b3;
          }


           /*
  Mobile
  */
  @media(max-width: 800px) {
    .end {
    bottom: 0;
    right: 0;
    top: auto;
    border-radius: 10px 0px 0px 0px;
    }
  }
