
#bar-right {
    float: right;
}

html { 
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.hdqwalls.com%2Fdownload%2Fblur-blue-uu-2880x1800.jpg&f=1&nofb=1&ipt=459b9ad8947e7cb915902b7399ab4608668cf330bd8996a91e5852a874fd39a0&ipo=images") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
          body{
            font-family: 'Karla', sans-serif;
            font-weight:   400;
              background-size: 100%;
              background-repeat: no-repeat;
          }

.bar {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgba(250, 250, 250, 0.65);  
    top: 0px;
    left: 0px;  
    align-items: center;
    vertical-align: middle;
    backdrop-filter: blur(4px);
}
.bar-btn img {
    border-radius: 10px;
    height: 40px;
    padding: 3.5px;
}


.bar-btn button {
    height: 3rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    border-width: 0px;
    border-style: double;
    border-radius: 0px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}
.bar-btn button:hover {
    background-color: rgba(250, 250, 250, 0.45);
    color: rgba(0, 0, 0, 1);
}

.content {
    margin-top: 50vh;
    align-items:  center;
    text-align: center;
}
.content input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border-width: 0px;
    transition: 0.2s;
    font-size: 25px;
    background-color: rgba(250, 250, 250);
}
.content input:focus {
    box-shadow: 0 0 5px white;
    background-color: rgba(250, 250, 250, 0.75);
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: block;
    align-items: center;
    color: black;
}
nav a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    display: flex;

}
nav a:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(250, 250, 250, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    transform: translate(370px,-20px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.7s;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
.hideOnMobile {
    display: none;
}
.menu-button {
    display: block;
}
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
        left: 0;
        top: 0;
    }
    }



    /*
    ZEITUNG
    */

    .paper {
        margin-top: 30ch;
        background-color: transparent;
    }
    .main-new {
        height: 50ch;
        width: max-content;
        border-radius: 10px;
        border-width: 0px;
        background-color: transparent;
    }
    .daily img {
        border-radius: 10px;
        height: 100%;
        cursor: pointer;
        transition: 0.2s;
    }
    .daily img:hover {
        box-shadow: 0 0 7px black;
    }
    .download {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin: auto;
        height: 100%;
        width: 100%;
        transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .down-btn {
        margin-top: 50vh;
        border-radius: 5px;
        border-width: 0px;
        background-color: rgb(13, 118, 255);
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }
    .dow-btn:hover {
        background-color: rgb(7, 103, 230);
    }
    .x {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 25px;
        background-color: transparent;
        border-width: 0px;
        padding: 10px;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 0px 0px 0px 3px;
    }
    .x:hover {
        background-color: rgba(250, 250, 250, 0.35);
    }